{% extends 'exercises/base.html' %}
{% load static %}

{% block head %}

<title>{{ object.task_name }}</title>
<script src={% static 'exercises/js/form_handler.js' %} type="text/javascript"></script>


{% endblock %}


{% block content %}
<p>Exercise ID: {{ object.task_id }}</p>
<p>Name: {{ object.task_name }}</p>
<p>Content: {{ object.task_content }}</p>
<div class='test' style='border:1px solid red;'>
    {% for test in tests %}
        <p>Expected input: <b><span id="exercise_input">{{ test.test_input }}</span></b></p>
        <p>Expected output: <b/><span id="exercise_output">{{ test.test_output }}</span></b></p>
        <button id='{{ test.test_language }}' class='languages'>{{ test.test_language }}</button>
    {%endfor%}
</div>

<textarea id='task_code_field' name='task_code_field' type="text" placeholder="Please select language first!" style="width:400px;height:600px"></textarea>
<br>
<button type="submit" id="submit_button">Validate!</button>

{% endblock %}