{% extends "exercises/base.html" %}
{% load static %}

{% block head %}
<title>{{ object.task_name }}</title>
<script src={% static "exercises/js/main.js" %} type="text/javascript"></script>
<link rel="stylesheet" href={% static "exercises/css/view.css" %} type="text/css">
{% endblock %}

{% block content %}
    <p class="line1">Exercise ID: {{ object.task_id }}</p>
    <p class="line1">Name: {{ object.task_name }}</p>
    <p class="line1">{{ object.task_content }}</p>
    <p class="line1"> Input: <b><span id="exercise_input" class="colored_text">{{ tests.0.test_input }}</span></b> | Expected output: <b/><span id="exercise_output" class="colored_text">{{ tests.0.test_output }}</span></b><span class="cursor1">_</span></p>
    <p class="line2" id="chosen_language">Please select your language:</p>
    <div class="language_options">
        {% for test in tests %}
            <p class="line2"><button id="{{ test.test_language }}" class="languages">{{ test.test_language }}</button></p>
        {%endfor%}
    </div>
    <div class="input_wrapper">
        <textarea id="task_code_field" class="show_element" name="task_code_field" type="text" placeholder="Please select language first!" style="width:400px;height:300px"></textarea>
        <button type="submit" class="show_element" id="submit_button">Check!</button>
    </div>
    <p class="endline">Result<span class="endcursor" id="last_cursor">_</span> <span id="result"></span></p>
{% endblock %}