{% extends "exercises/base.html" %}
{% load static %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block content %}
<p class="line1">user$: Welcome to Coding Exercises!<span class="cursor1">_</span></p>
<p class="line2">user$: This is the simple app to show how to use Docker to fire a code in different envs (aka Algoexpert).<span class="cursor2">_</span></p>
<p class="line3">user$: Check any of avialable solutions below:<span class="cursor3">_</span></p>
{% for task in tasks %}
    <div class="task_wrapper" onclick='location.href="{% url 'exercise-detail' task.task_name %}";' style="cursor: pointer;">
        <p class="line4">##################################</p>
        <p class="line4">{{ task.task_name|upper }}</p>
        <p class="line4">{{ task.task_content }}</p>
    </div>
{% endfor %}
<p class="endline">><span class="endcursor">_</span></p>
</div>

{% endblock %}
